/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  a{
    text-decoration: none;
    color: white;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .topNav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    background-color: rgb(205, 24, 24);
  }
  .rightNav{
    display: flex;
    gap: 20px;
  }
 .mid{
    padding-inline: 20px    ;
    border-left: 1px solid white;
    border-right: 1px solid white;
 }

  .botNav{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 20px 10px;
    gap: 25px ;
    background-color: rgba(255, 255, 255, 0.627);
  }
  .botNav a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.304);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    scale: 0.85;
  }
  .botNav a:hover{
    scale: 1;
  }
  .botNav a img{
    width: 95px;
    height: 75px;
  }
  .date{
    display: flex;
  }
  .fastSelect{
    display: block;
  }
  .hero{
    display: flex;
    justify-content: space-evenly;
    background-image: url(/assets/img/backgrounds/roadHero.jpg);
    /* background-color: yellow; */
    background-size:100%;
    background-origin: border-box;
    padding: 20px 20px 20px 20px ;
  }
  .leftHero{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
  }
  .advantages{
    text-align: center;
  }
  .advantages h3{
    color: white;
  }
.advantagesGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  row-gap: 15px ;
  color: white;
}
.adv{
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 15px;
  width: 125px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.357);
}
.adv img{
  padding: 20px;
}